<div class="innerpage">
  <div class="bread">
    <h1 class="title">سوالات متداول</h1>
  </div>
  <div class="container">
    <div class="">
      <div class="acordion">
        <div>
          <div collapse>
            <i class="la la-plus"></i>
            <h5>چگونه من از طریق وبسایت کشینه ، کشینه دریافت می کنم؟</h5>
          </div>
        </div>
        <div>شما با ثبت نام در وبسایت کشینه و خرید از فروشگاه آنلاینی که کشینه پیشنهاد می دهد می توانید کشینه دریافت کنید. لیست
          فروشگاه هایی که کشینه ارائه می دهند در وبسایت کشینه موجود می باشد.</div>
      </div>
      <div class="acordion">
        <div>
          <div collapse>
            <i class="la la-plus"></i>
            <h5>کشینه من برای خریدی که انجام داده ام کجاست؟</h5>
          </div>
        </div>
        <div>فروشندگان آنلاین ظرف مدت 24-48 ساعت از زمان انجام خرید گزارش خرید را به کشینه می دهند. بعضی از فروشندگان ممکن است
          تا 7 روز ارائه گزارش خود را با تاخیر بیاندازند. چنانچه بعد 7 روز از زمان خریدتان، کشینه خود را در حساب کاربری خود
          مشاهده نمی کنید و یا مقدار کشینه دریافت شده خلاف انتظار شماست و شما اطمینان دارید که اشتباهی در این بین اتفاق افتاده
          است، لطفا درخواست تجدید نظر از کشینه بکنید. تمامی درخواست های تجدید نظر می بایست تا 45 روز از زمان خرید به اتمام
          رسیده باشد. در نظر داشته باشید برای کشینه های مربوط به مسافرت و بلیط هواپیما وهتل کشینه ممکن است تا45 روز از زمان
          رزرو کردن شما طول بکشد.</div>
      </div>
      <div class="acordion">
        <div>
          <div collapse>
            <i class="la la-plus"></i>
            <h5>اگر کشینه من تا 7 روز بعد خریدم در حسابم ظاهر نشد، چه کار می بایست بکنم؟</h5>
          </div>
        </div>
        <div>چنانچه بعد 7 روز از زمان خریدتان، کشینه خود را در حساب کاربری خود مشاهده نمی کنید و یا مقدار کشینه دریافت شده خلاف
          انتظار شماست و شما اطمینان دارید که اشتباهی در این بین اتفاق افتاده است، لطفا درخواست تجدید نظر از کشینه بکنید.
          تمامی درخواست های تجدید نظر می بایست تا 45 روز از زمان خرید به اتمام رسیده باشد.</div>
      </div>
      <div class="acordion">
        <div>
          <div collapse>
            <i class="la la-plus"></i>
            <h5>چه کار می توانم بکنم که مطمئن شوم کشینه درخواستی را دریافت می کنم؟</h5>
          </div>
        </div>
        <div>با توجه به اینکه بیشتر کشینه ها به طور اتوماتیک در کم تر از 7 روز به حساب کشینه شما واریز می شود، ممکن است شما با
          مغازه ای مواجه شوید که گزارش خرید شما را به طور کامل به کشینه نداده است. چندین راه برای بهبود پیگیری نتیجه کشینه
          شما وجود دارد:
          <ol>
            <li>از مرورگری استفاده کنید که adiv-ons یا tool bar هایی که از طرف سایت های مشابه تخفیف، سایت کوپن، یا سایت های مشابه
              کشینه در آن وجود ندارد و یا اینکه آنها غیر فعال هستند.</li>
            <li>مطمئن شوید که هر نرم افزار توقف آگهی (ad block) حتما در حالت غیر فعال می باشد.</li>
            <li>مطمئن شوید که مرورگر شما کوکیز های سوم شخص را قبول می کند.</li>
            <li>خرید خود را در فروشگاه مقصد که از طریق کشینه معرفی شده اید را با سبد خرید خالی آغاز کنید.</li>
            <li>به محض کلیک بر روی فروشگاه مقصد و وارد شدن به آن از طریق لینک قرار داده شده در وبسایت کشینه، شما می بایست خرید
              خود را هرچه سریعتر به پایان برسانید و از ورود به صفحات و پیج های دیگر اینترنت حتی الامکان خودداری کنید.
            </li>
            <li>وقتی از کوپن ها استفاده می کنید حتما از کوپن های ارائه شده در وبسایت کشینه استفاده کنید. استفاده از کوپن هایی
              که در وبسایت های غیر از کشینه موجود می باشند موجب غیر مجاز شدن خرید شما از دریافت کشینه خواهد شد.</li>
            <li>از کارت های هدیه برای خرید خود استفاده نکنید.</li>
            <li>تماس با فروشنده جهت تغییر سفارش خرید از طریق ایمیل و یا وبسابت فروشنده و یا فرم آنلاین و یا تلفن سبب غیر مجاز
              شدن دریافت کشینه می شود. اگر شما نیاز به تغییر سفارش خرید خود دارید بهتری راه برای این کار کنسل کردن سفارش
              خرید و خرید دوباره از طریق کشینه است.</li>
          </ol>
        </div>
      </div>
      <div class="acordion">
        <div>
          <div collapse>
            <i class="la la-plus"></i>
            <h5>آیا من می توانم برای خرید کارت هدیه ام کشینه دریافت کنم؟
            </h5>
          </div>
        </div>
        <div>بیشتر فروشنده ها بر روی کارتهای هدیه و خریدهایی که با کارت هدیه انجام شده است کشینه ارائه نمی دهند. حتی اگر قسمتی
          از این خرید با کارت هدیه انجام شده باشد. حالت استثنا زمانی اتفاق می افتد که در صفحه توضیحات هر فروشگاه عینا نوشته
          شده باشد که خریدهای شامل کارت هدیه مجاز به دریافت کشینه خواهند بود. در صورت وجود نداشتن این عبارت شما باید با فرض
          بر این که خریدهای کارت هدیه غیر مجاز می باشند خرید خود را انجام دهید.</div>
      </div>
      <div class="acordion">
        <div>
          <div collapse>
            <i class="la la-plus"></i>
            <h5>اگر خواستم سفارشم را تغییر بدهم و یا معاوضه بکنم و یاقسمتی یا تمام خریدم را پس چه کار باید بکنم؟</h5>
          </div>
        </div>
        <div>تغییر یک سفارش خرید بعد از پرداخت پول آن موجب کنسل شدن کشینه آن سفارش خرید خواهد شد. این تغییر ها شامل پس دادن سفارش
          خرید، تغییر سفارش خرید، معاوضه، و یا پس دادن قسمتی از خرید خواهد بود. اگر شما نیاز به تغییر سفارش خرید خود دارید
          بهتری راه برای این کار کنسل کردن سفارش خرید و خرید دوباره از طریق کشینه است.</div>
      </div>
      <div class="acordion">
        <div>
          <div collapse>
            <i class="la la-plus"></i>
            <h5>آیا استفاده از نرم افزارهای ضد تبلیغ مانند ad blocks یا هر adiv-ons یا به طور کلی هر گونه toolbar می تواند باعث
              غیر فعال شدن پروسه گزارش کشینه بشود؟</h5>
          </div>
        </div>
        <div>بله استفاده از هر گونه افزونه adiv-ons مانند adiv-blocks می تواند مانع پروسه ثبت گزارش کشینه بشود. برای اطمینان از
          دریافت کشینه لازم است که به صورت موقت این افزونه ها را قبل از خریدتان از فروشگاه ها غیر فعال کنید.</div>
      </div>
      <div class="acordion">
        <div>
          <div collapse>
            <i class="la la-plus"></i>
            <h5>فرق بین کشینه تایید شده و کشینه در حال بررسی چیست؟</h5>
          </div>
        </div>
        <div>کشینه در حال بررسی را وقتی مشاهده می کنید که کشینه اطلاعات خرید شما را از فروشگاه دریافت کرده باشد. فروشگاه ممکن
          است تا 7 روز زمان نیاز داشته باشد تا گزارش خرید را به کشینه بدهد. کشینه در حال بررسی مجاز به انتقال به حساب بانکی
          نخواهد بود. زمانی که کشینه کمیسیون این خریدها را دریافت کند این کشینه ها از در حال بررسی به تایید شده تغییر پیدا
          می کنند. این زمان ممکن است بین 30 روز تا 90 روز بسته به فروشندگان مختلف متغیر باشد</div>
      </div>
      <div class="acordion">
        <div>
          <div collapse>
            <i class="la la-plus"></i>
            <h5>چگونه می توانم درخواست انتقال پول به حساب بانکیم را بدهم؟</h5>
          </div>
        </div>
        <div>شما می بایست به قسمت حساب من کشینه مراجعه کنید تا از میزان کشینه خود و روش های پرداخت اطمینان حاصل کنید. زمانی که
          حساب کشینه شما به 30 هزار تومان رسید شما می توانید درخواست انتقال کشینه به حساب بانکی تان را بکنید. برای تغییر
          در نحوه پرداخت می توانید از بین گزینه های موجود روش دلخواه خود را انتخاب کنید.</div>
      </div>
      <div class="acordion">
        <div>
          <div collapse>
            <i class="la la-plus"></i>
            <h5>چرا درخواست من برای بازبینی مقدار کشینه مردود شد؟
            </h5>
            <div>چنانچه بعد 7 روز از زمان خریدتان، کشینه خود را در حساب کاربری خود مشاهده نمی کنید و یا مقدار کشینه دریافت شده
              خلاف انتظار شماست و شما اطمینان دارید که اشتباهی در این بین اتفاق افتاده است، لطفا درخواست تجدید نظر از کشینه
              بکنید. تمامی درخواست های تجدید نظر می بایست تا 45 روز از زمان خرید به اتمام رسیده باشد. با ثبت درخواست شما
              تیم پشتیبانی کشینه پس از تایید ادعای شما به دنبال اصلاح کشینه دریافتی می رود و برای اصلاح کشینه دریافتی با
              فروشگاه مورد نظر پیگیری های لازم را انجام خواهد داد. در حین این پروسه کشینه اطلاعات خرید شما را در اختیار فروشگاه
              خواهد گذاشت. اکثر فروشگاه ها در بازه زمانی 30 تا 90 روز پاسخ به درخواست مطرح شده را خواهند داد. اگر درخواست
              ارسالی به فروشنده مردود اعلام شود، این به این معناست که تیم پشتیبانی فروشنده درخواست شما را بررسی کرده و به
              این نتیجه رسیده است که کشینه مورد نظر قابل قبول نیست. بعضی از فروشنده ها ممکن است که توضیح مختصری مبنی بر دلیل
              مردود بودن کشینه همراه با پاسخ درخواست ارسال کنند و بعضی دیگر ممکن است که تنها پاسخ این درخواست را با قبول
              کردن و یا رد کردن درخواست بدهند. دلایل احتمالی برای مردود بودن این درخواست ها عبارتند از: تعلق اعتبار به فروشگاه
              های معرف دیگر و یا موتورهای جستجو، استفاده از کوپنی که مجاز به دریافت کشینه نباشد و یا در وبسایت کشینه نباشد
              و یا عدم غیر فعال کردن نرم افزارهای افزونه می باشد. چنانچه درخواست بازبینی رد شد، کشینه از پرداخت کشینه برای
              آن خرید معذور می باشد.</div>
          </div>
          <div class="acordion">
            <div>
              <div collapse>
                <i class="la la-plus"></i>
                <h5>چرا فروشگاه کشینه خریدم را باز پس گرفت؟</h5>
              </div>
            </div>
            <div>تغییر در سفارش خرید بعد از به ثمر رسید خرید منجر به کنسل شدن کشینه خواهد شد. این موارد شامل : پس دادن، معاوضه،
              تغییر در تعداد، اضافه و یا کم کردن اجناس و محصولات خریداری شده، و یا هرگونه تماس مستقیم با مغازه جهت اعمال
              تغییرات در سفارش شما می باشد. همچنین ممکن است فروشنده تشخیص دهد که کشینه شما مردود است بنا به دلایلی از قبیل:
              <ol>
                <li>مخالف مقررات موجود جهت دریافت کشینه باشد. این قوانین در صقحه هر فروشگاه در وبسایت کشینه موجود می باشد.</li>
                <li>استفاده از کوپن غیر مجاز</li>
                <li>طریقه پرداخت</li>
              </ol>
              کوپن غیر مجاز کوپنی است که در هر جایی غیر از وبسایت کشینه موجود باشد اعم از کوپن های قرارداده شده در وبسایت های سوم شخص و
              یا حتی ایمیل ارسالی از فروشگاه و یا کوپن موجود در وبسایت فروشنده. اگر کشینه شما باز پس گرفته شد و شما اعتقاد
              دارید که هیچ یک از موارد زیر اتفاق نیفتاده است، لطفا هرچه سریعتر با تیم پشتیبانی کشینه تماس حاصل کنید.
            </div>
          </div>
          <div class="acordion">
            <div>
              <div collapse>
                <i class="la la-plus"></i>
                <h5> آیا من می توانم از کوپن استفاده کنم و باز هم کشینه دریافت کنم؟</h5>
              </div>
            </div>
            <div>
              جهت اطمینان از مجاز بودن خریدتان با کوپن همیشه از کوپن های ارائه شده در وبسایت کشینه استفاده کنید. چنانچه ازکوپنی استفاده
              کنید که در وبسایت کشینه موجود نبوده، تیم پشتیبانی کشینه تضمینی جهت دریافت کشینه نخواهد داشت.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>