not-found{
    .container{
        padding: 1rem 0;
        h1{
            margin: 2rem 0 1rem;
        }
        >div{
            background: #fff;
            padding: 1rem;
            text-align: center;
            img{
                max-width: 100%;
            }
        }
        .md-button{
            border-radius: 4px;
        }
    }
}