<div class="user-box">
  <md-loading ng-if="$ctrl.ajaxLoading"></md-loading>
  <div class="head">
    <i class="la la-recycle"></i>
    <h1>تغییر کلمه عبور</h1>
  </div>
  <div ng-if="!$ctrl.successful">
    <div class="user-form" ng-form="resetPasswordForm">
      <md-input-container class="md-block">
        <label>رمز ورود</label>
        <input type="{{password_view?'text':'password'}}" name="password" ng-model="$ctrl.password" ng-required="true">
        <div ng-messages="resetPasswordForm.password.$error">
          <div ng-message="required">پر کردن این فیلد اجباری می باشد</div>
        </div>
        <md-icon ng-click="password_view = !password_view">
          <i class="la la-eye" ng-class="{'la-eye-slash':password_view}" ></i>
          <!-- <i class="la la-lock"></i> -->
        </md-icon>
      </md-input-container>
      <md-input-container class="md-block">
        <label>تایید رمز ورود</label>
        <input type="{{password_confirm_view?'text':'password'}}" name="confirm_password" ng-model="$ctrl.confirm_password" ng-required="true"
          ui-validate="{validate:'$value==$ctrl.password'}" ui-validate-watch="'$ctrl.password'">

        <div ng-messages="resetPasswordForm.confirm_password.$error">
          <div ng-message="required">پر کردن این فیلد اجباری می باشد</div>
          <div ng-message="validate">تایید رمز عبور با رمز شما متفاوت است</div>
        </div>
        <md-icon ng-click="password_confirm_view = !password_confirm_view">
          <!-- <i class="la la-lock"></i> -->
          <i class="la la-eye" ng-class="{'la-eye-slash':password_confirm_view}" ></i>
        </md-icon>
      </md-input-container>
    </div>
    <div ng-if="$ctrl.error" class="error-msg">
      توکن شما منقضی شده است
    </div>
    <div class="user-submit">
      <md-button class="md-primary md-raised" ng-disabled="resetPasswordForm.$invalid" ng-click="$ctrl.submit()" aria-label="submit">
        تغییر کلمه عبور </md-button>
    </div>
  </div>
  <div ng-if="$ctrl.successful" class="success-msg">
    کلمه عبور شما با موفقیت تغییر یافت.
  </div>

</div>