<div class="innerpage">
  <div class="bread">
    <h1 class="title">
      حفظ حریم خصوصی
    </h1>
  </div>
  <div class="container">
    <div class="privacy">
      <h2>حفظ حریم خصوصی:</h2>
      <p>حفظ حریم خصوصی افراد یکی از مهمترین اهداف کشینه میباشد. حریم خصوصی، امنیت و یکپارچگی از جمله اولیت های کشینه از آغاز فعالیتش بوده است و همواره در جهت بهبود و بهینه سازی آن تلاش می کند.
        <br>سیاست حفظ حریم خصوصی مسائلی از قبیل: چگونه اطلاعات شخصی و سایر اطلاعات خریدمان را جمع آوری، استفاده، به اشتراک گذاری
        و ایمن سازی کنیم را بیان میکند. همچنین گزینه هایی را برای کاربران در رابطه با استفاده از این اطلاعات ارائه می دهد
        و نحوه دسترسی و به روزرسانی این اطلاعات را شرح می دهد.</p>
      <hr>
      <h2> اطلاعات جمع آوری شده و نحوه استفاده از آن: </h2>
      <p>چشم انداز ما این است که جایزه های مشتری را به حداکثر برسانیم و مشتری به عنوان عضو کشینه تا جای ممکن سود خود را دریافت
        کند. راه اصلی ما این است که با استفاده از فرم نقدی برگشت پول، از کمیسیون هایی که از شرکای تجاری خود دریافت می کنیم،
        با مشتری تقسیم کنیم. ما در تلاش هستیم تا مبلغ نقدی مشتری را به صورت قابل اطمینان پرداخت کنیم و تجربه مشتری در استفاده
        از سایت و برنامه هایمان را بهبود ببخشیم، اینها از جمله دلایل اصلی هستند که ما اطلاعات را جمع آوری می کنیم.</p>
      <hr>
      <h2> Cashineh.com </h2>
      <p>هنگامی که شما عضو CASHINEH.COM می شوید، ما نام، آدرس ایمیل و آدرس فیزیکی شما را ("اطلاعات شخصی") جمع آوری می کنیم.
        ما از اطلاعات شخصی شما برای ردیابی و ارسال پرداخت های نقدی شما و به طور کلی برای بهبود و شخصی سازی خدمات خود استفاده
        می کنیم. ما همچنین اطلاعات غیر شخصی مربوط به شرکای تجاری مان که شما بازدید می کنید، خریداری می کنید و پیشنهاداتی که
        مشاهده می کنید («اطلاعات تراکنش»)را جمع آوری می کنیم. ما از اطلاعات تراکنش برای پردازش نقدی سریعتر و مطمئن تر استفاده
        می کنیم و همچنین پیشنهادات مرتبط تر را برای شما در هنگام بازدید از وبسایت ما یا استفاده از برنامه های کاربردی و خدمات مان
        ارائه می دهیم.
      </p>
      <hr>
      <h2> اطلاعات تراکنشی مشتریان: </h2>
      <p> زمانی که شما از کشینه استفاده می کنید ما از اطلاعات تاریخچه جستجوی شما و اطلاعات تراکنش شما با خبر می شویم. ما این اطلاعات
        تراکنشی را با شرکای شبکه افیلیت و شرکای تجاری خود به اشتراک می گذاریم تا تأیید کنیم که پول نقد شما سریع تر و قابل
        اطمینان تر به دست شما برسد و ما از آن برای ارائه پیشنهادات مرتبط و جالب تر برای شما استفاده می کنیم. </p>
      <hr>
      <h2> شبکه ها اجتماعی: </h2>
      <p>وب سایت ما شامل ویژگی های شبکه اجتماعی مثل دکمه لایک و دکمه اشتراک فیس بوک است .این ویژگی ها ممکن است که ای پی ادرس شما
        و یا صحفه ای که بروی سایت از ان بازدید میکنید را جمع آوری کند . این رسانه های اجتماعی ممکن است توسط ما یا شخص ثالث
        میزبانی شود. تعاملات شما با ویژگی های رسانه های اجتماعی میزبانی شده توسط اشخاص ثالث (مانند دکمه لایک فیس بوک) توسط
        خط مشی های حفظ حریم خصوصی شرکت هایی که آنها را ارائه می دهند، اداره می شوند.</p>
      <hr>
      <h2> خدمات ثبت شخص سوم: </h2>
      <p>ما اجازه می دهیم که به CASHINEH.COM و برنامه تلفن همراه ما با استفاده از Google Login وارد شوید. این سرویس هویت شما
        را تأیید می کند و گزینه ای برای به اشتراک گذاشتن اطلاعات شخصی معینی از شما با ما مانند نام و آدرس ایمیل شما را فراهم
        می کند تا فرم ثبت نام ما را کامل کنید. این خدمات به شما اجازه می دهد اطلاعات مربوط به فعالیت های خود را در Cashineh.com
        با دیگران در شبکه های اجتماعی خود به اشتراک بگذارید. </p>
      <hr>
      <h2> اتصال به حساب ایمیل</h2>
      <p>ما اجازه می دهیم که ازحساب کاربری ایمیل شخصی خود به حساب کاربری خود وصل شوید تا تأیید خرید خود را در CASHINEH.COM مشاهده
        کنید. ما این اطلاعات تراکنش را با شرکای افیلیت و شرکای تجاری مان به اشتراک می گذاریم تا تأیید کنیم که پول نقد شما
        سریع تر و قابل اطمینان تر بدست شما میرسد و ما از آن برای ارائه پیشنهادات مرتبط و جالب تر برای شما استفاده می کنیم.
        خود وصل کنید یا آن را قطع کنید، با استفاده از تنظیمات
        موجود در سایت شما می توانید ایمیل خود را به حساب Cashineh خود وصل کنید و یا آن را قطع کنید..</p>
      <hr>
      <h2>چه کسانی اطلاعات شخصی شما را میبیند: </h2>
      <p>ما اطلاعات شخصی شما را با اشخاص ثالث تنها در روش هایی که در این سیاست حفظ حریم خصوصی توصیف می شود به اشتراک می گذاریم.
        ما اطلاعات شخصی شما را به اشخاص ثالث نمی فروشیم. فقط تعداد بسیار محدودی از کارکنان ما تا به حال به اطلاعات شخصی شما
        دسترسی دارند، آنها را فقط برای ردیابی و ارسال پرداخت های نقدی که شما کسب می کنید استفاده می کنند.</p>
      <hr>
      <h2>ما چطور اطلاعات شما را امن نگه میداریم: </h2>
      <p> حفظ امنیت اطلاعات شخصی شما برای شرکت بسیار مهم است. ما از یک اتصال امن و رمزگذاری شده (به نام اتصال SSL) در تمام صفحاتی
        که شما دسترسی دارید یا انتقال اطلاعات شخصی را می دهد، استفاده می کنیم. علاوه بر این، ما اطلاعات کارت بانکی شما
        را که به ما برای دریافت کشینه داده اید رمزگزاری کرده ایم. با این وجود هیچ روش برای انتقال از طریق اینترنت و یا روش ذخیره
        سازی الکترونیکی ٪۱۰۰ امن نیست. بنابراین، ما نمی توانیم امنیت مطلق را تضمین کنیم.</sp>
        <hr>
        <h2>حریم خصوصی شما با شرکت:</h2>
        <p>شرکت هرگز آدرس ایمیل شما ، نام کاربری، گذرواژه یا سایر اطلاعات شخصی شما در یک تماس تلفنی، ایمیل یا نامه درخواست نخواهد
          کرد. علاوه بر این، هر گونه تماس با خدمات مشتری شرکت که در آن اطلاعات شخصی با نماینده خدمات مشتریان مبادله می شود
          فقط برای خشنود نگه داشتن درخواست شما مورد استفاده قرار می گیرد. هر گونه اطلاعات شخصی که شما ارائه می کنید ثبت نمی
          شود و به هیچ وجه به غیر از موارد درخواست شده مورد استفاده قرار نخواهد گرفت.</p>
        <hr>
        <h2>برنامه ریفرال:</h2>
        <p>اگر شما تصمیم به استفاده از برنامه های ارجاع برای معرفی دوست خود به شرکت دارید ما اسم دوست شما و ادرس ایمیل ان را
          میخواهیم.به صورت اتوماتیک یک ایمیل دعوت به بازدید از شرکت برای دوست شما ارسال میکنیم. ما این اطلاعات را فقط برای
          فرستادن این ایمیل ذخیره می کنیم و موفقیت برنامه ارجاع ما را ردیابی می کنیم. </p>
        <hr>
        <h2>تغییرات این سیاست حفظ حریم خصوصی:</h2>
        <p>چنانچه بخواهیم این سیاست حفط حریم خصوصی را اصلاح کنیم، یک اطلاعیه تغییر در یک محل برجسته در سایت ارسال میکنیم یا
          از طریق ایمیل (ارسال به آدرس ایمیل مشخص شده در حساب شما) یک پیام تغییر را برای اطلاع شما ارسال خواهیم کرد. ما حق
          تغییر در این سیاست حفظ حریم خصوصی در هر زمان را داریم، بنابراین لطفا آن را به طور منظم بررسی کنید.</p>
        <hr>
        <h2>اتصال به وب سایت های شخص ثالث:</h2>
        <p>کشینه شامل لینک هایی به وب سایت های دیگر است. هر یک از این وبسایت ها سیاست حفظ حریم خصوصی خود را دارا می باشد که
          ممکن است از سیاست حفظ حریم خصوصی ما به طور قابل توجهی متفاوت باشد.اگر شما تمایل دارید که از پیشنهاد های ویژه شریک
          تجاری ما مستقیما باخبر شوید میبایست تمامی سیاست های حفظ حریم خصوصی سایت ها را بخوانید. </p>
        <hr>
        <h2>سیاست های ما در ایمیل:</h2>
        <p>شرکت دو نوع ایمیل به اعضایش ارسال میکند: ایمیل های خدماتی به مشتری مورد نیاز برای حفظ برنامه های شرکت (مانند اعتبار نقدی
          و اطلاعیه های پرداخت) و ایمیل های تبلیغاتی حاوی پیشنهادات. شما میتوانید هر زمان که بخواهید با ارسال پیغام "لغو
          اشتراک" در هر ایمیل تبلیغاتی یا تغییر دادن تنظیمات عضویت خود در کشینه تصمیم بگیرید که ایمیل های تبلیغاتی را دریافت
          نکنید.
        </p>
        <hr>
        <h2>کوکی ها و سایر فناوری ها:</h2>
        <p>کشینه و شرکای ما از کوکی ها و یا فن آوری های مشابه برای تجزیه و تحلیل روند خرید، مدیریت وب سایت، پیگیری کاربران
          در سراسر وب سایت و جمع آوری اطلاعات جمعیت شناختی در مورد کاربران ما استفاده می کند. کاربران
          می توانند استفاده از کوکی ها را در سطح مرورگر کنترل کنند، اما اگر خواستید که کوکی ها را غیرفعال کنید، ممکن است
          در استفاده از یکسری ویژگی ها یا عملکرد خاصی در وب سایت یا سرویس ما محدود شوید. </p>
        <p>ما از کوکی ها برای احراز هویت، شخصی سازی وب سایت و ردیابی سفارش استفاده می کنیم. کاربران می توانند استفاده از کوکی
          ها را در سطح مرورگر کنترل کنند. اگر کوکی ها را رد کنید، دیگر قادر نخواهید بود که پول نقد دریافت کنید.</p>
        <hr>
        <h2>هدف گیری رفتاری:</h2>
        <p>ما از یک یا چند فروشنده برای مدیریت تبلیغات در سایت های دیگر استفاده می کنیم فروشندگان ما ممکن است از فناوری هایی
          مانند کوکی ها برای گردآوری اطلاعات در مورد فعالیت های شما در این سایت و سایر سایت ها استفاده کنند تا تبلیغاتی را
          براساس فعالیت و منافع مرور شما ارائه دهند. این مسئولیت شما است که اطلاعات حساب دقیق خود را در حساب کاربری CASHINEH
          خود به روز نگه دارید. شما می توانید با وارد شدن به صفحه حساب خود تغییراتی ایجاد کنید ما اطلاعات شما را تا زمانیکه
          حساب شما فعال است ، حفظ خواهیم کرد.</p>

    </div>
  </div>
</div>