<div class="header">
  <h3>تغییر رمز</h3>
</div>
<div class="body" ng-form="changePasswordForm">
  <div class="form-group">
    <input type="{{old_password_view?'text':'password'}}" name="old_password" class="form-control" ng-required="true" ng-model="$ctrl.data.old_password"
      placeholder="رمز قدیمی">
    <i class="la la-eye" ng-class="{'la-eye-slash':old_password_view}" ng-click="old_password_view = !old_password_view"></i>
    <div ng-messages="changePasswordForm.old_password.$dirty && changePasswordForm.old_password.$error">
      <div ng-message="required">پر کردن این فیلد اجباری می باشد</div>
    </div>
  </div>
  <div class="form-group">
    <input type="{{new_password_view?'text':'password'}}" name="new_password" class="form-control" ng-required="true" ng-model="$ctrl.data.new_password" placeholder="رمز جدید"> 
    <i class="la la-eye" ng-class="{'la-eye-slash':new_password_view}" ng-click="new_password_view = !new_password_view"></i>
    <div ng-messages="changePasswordForm.new_password.$dirty && changePasswordForm.new_password.$error">
      <div ng-message="required">پر کردن این فیلد اجباری می باشد</div>
    </div>
  </div>
  <div class="form-group">
    <input type="{{new_password_confirm_view?'text':'password'}}" name="confirm_password" class="form-control" ng-required="true" ng-model="confirm_password" placeholder="تکرار رمز جدید"
      ui-validate="{validate:'$value==$ctrl.data.new_password'}" ui-validate-watch="'$ctrl.data.new_password'"> 
    <i class="la la-eye" ng-class="{'la-eye-slash':new_password_confirm_view}" ng-click="new_password_confirm_view = !new_password_confirm_view"></i>
    <div ng-messages="changePasswordForm.confirm_password.$dirty && changePasswordForm.confirm_password.$error">
      <div ng-message="required">پر کردن این فیلد اجباری می باشد</div>
      <div ng-message="validate">تایید رمز عبور با رمز شما متفاوت است</div>
    </div>
  </div>
  <div>
    <md-button ng-disabled="changePasswordForm.$invalid" ng-click="$ctrl.changePassword()" class="md-raised md-primary" aria-label="save">
      ثبت رمز جدید </md-button>
  </div>
</div>