@import "var";
change-password-modal {
    width: 450px;
    max-width: 100%;
    .header {
        display: flex;
        height: 90px;
        align-items: center;
        background: #ededed;
        color: $secondary-color;
        justify-content: center;
    }
    .body {
        padding: 2rem;
        .form-group {
            margin-bottom: 2rem;
                position: relative;
                i.la.la-eye{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    font-size: 1.525rem;
                }
        }
        .form-control {
            border-radius: 40px;
            background: #ededed;
            height: 40px;
        }
        .md-button {
            width: 150px;
            height: 40px;
        }
    }
}