<div class="user-box">
  <md-loading ng-if="$ctrl.ajaxLoading"></md-loading>
  <div class="head">
    <i class="la la-recycle"></i>
    <h1>یادآوری کلمه عبور</h1>
  </div>
  <div ng-if="$ctrl.status == 'start'">
    <div class="user-form" ng-form="userForm">
      <!-- <div class="m-b-20">
        <md-radio-group ng-model="$ctrl.type">
          <md-radio-button value="email" aria-label="label">
            بازیابی کلمه عبور از طریق ایمیل
          </md-radio-button>
          <md-radio-button value="mobile" aria-label="label">
            بازیابی کلمه عبور از طریق اس ام اس
          </md-radio-button>
        </md-radio-group>
      </div> -->
      <div class="form-group">
        <label class="">موبایل/ایمیل</label>
        <input class="form-control" ui-validate="{pattern:'$ctrl.custom_validation($value)'}" ng-model="$ctrl.email"
          name="email" type="text" placeholder="لطفا شماره موبایل و یا ایمیل خود را وارد کنید" required>
        <div ng-messages="userForm.email.$dirty && userForm.email.$error">
          <div ng-message="required">پر کردن این فیلد اجباری می باشد</div>
          <div ng-message="pattern">فرمت وارد شده باید شماره موبایل یا ایمیل باشد</div>
        </div>
      </div>
      <!-- <div ng-if="$ctrl.type === 'mobile'" class="form-group">
        <label class="">شماره موبایل</label>
        <input class="form-control" style="direction:ltr" ng-model="$ctrl.mobile" name="mobile" ng-pattern="/\d{11}$/" type="text"
          required>
        <div ng-messages="userForm.mobile.$dirty && userForm.mobile.$error">
          <div ng-message="required">پر کردن این فیلد اجباری می باشد</div>
          <div ng-message="pattern">فرمت ایمیل صحیح نمی باشد</div>
        </div>
    </div> -->
    </div>
    <div ng-if="$ctrl.error" class="error-msg">
      {{$ctrl.type == 'email'?'ایمیلی':'موبایلی'}} که وارد کردید در کشینه موجود نمی باشد
    </div>
    <div class="user-submit">
      <md-button class="md-primary md-raised" ng-disabled="userForm.$invalid" ng-click="$ctrl.submit()" aria-label="submit"> یادآوری کلمه عبور </md-button>
    </div>
  </div>
  <div ng-if="$ctrl.status == 'verify'">

    <div class="token-verify" ng-if="$ctrl.type == 'mobile'">
      <!-- <div ng-if="!$ctrl.isVerify">
        <div class="form-group">
          <label for="">کد تایید را وارد نمایید</label>
          <input type="text" ng-model="$ctrl.token" ng-change="$ctrl.sendToken()" class="form-control">
          <div ng-messages="$ctrl.tokenError">
            <div ng-message="invalid">کد وارد شده صحیح نیست</div>
          </div>
        </div>
        <div class="form-group center-align">

        </div>
      </div> -->
      <div ng-form="recoverForm">
        <div class="form-group">
          <label for="">رمز جدید</label>
          <input required type="password" name="password" ng-model="$ctrl.password" class="form-control">
          <div ng-messages="recoverForm.password.$dirty && recoverForm.password.$error">
            <div ng-message="required">پر کردن این فیلد اجباری می باشد</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">تکرار رمز جدید</label>
          <input required type="password" name="confirm_password" ng-model="$ctrl.confirm_password" class="form-control" ui-validate="{validate:'$value==$ctrl.password'}"
            ui-validate-watch="'$ctrl.password'">
          <div ng-messages="recoverForm.confirm_password.$dirty && recoverForm.confirm_password.$error">
            <div ng-message="required">پر کردن این فیلد اجباری می باشد</div>
            <div ng-message="validate">تایید رمز عبور با رمز شما متفاوت است</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">کد تایید را وارد نمایید</label>
          <input type="text" ng-model="$ctrl.token" class="form-control">
        </div>
        <div class="form-group center-align">
          <md-button ng-disabled="recoverForm.$invalid" class="md-raised md-primary" ng-click="$ctrl.resetPassword()" aria-label="reSend">
            تغییر رمز ورود </md-button>
          <md-button class="md-raised md-primary" ng-click="$ctrl.reSendVerifyCode()" aria-label="reSend"> ارسال مجدد کد </md-button>
        </div>


      </div>

    </div>

  </div>
  <div ng-if="$ctrl.status == 'finish'">
    <div class="success-msg" ng-if="$ctrl.type == 'email'"> به درخواست شما برای بازیابی کلمه عبورتان در سایت کشینه یک لینک به آدرس پست الکترونیک شما ارسال گردید.
      <br> لطفاً به صندوق الکترونیکی خود مراجعه کرده و بر روی لینک ارسال شده کلیک نمائید.</div>
    <div class="success-msg" ng-if="$ctrl.type == 'mobile'">تغییر رمز با موفقیت انجام شد.</div>
  </div>
</div>