armin{
    h1{
        color: red;
        transform: skew(10deg);
        background: linear-gradient(red,green);
        transition: all 1s ease-in-out;
        display: flex;
        justify-content: space-around;
    }
}