.status {
    padding: 2px 10px;
    border-radius: 10px;
    border-radius: 10px;
    background: #eaeaea;
    color: #444;
    font-size: 0.875rem;
    line-height: 20px;
    min-height: 20px;
    min-width: 70px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

.shopping_status {
    .status-0 {
        background: $danger-color;
        color: #fff;
    }
    .status-1 {
        background: $success-color;
        color: #fff;
    }
    .status-2 {
        background: $cancel-color;
        color: #fff;
    }
}

.merchant_grade {
    .status-1 {
        background: $success-color;
        color: #fff;
    }
    .status-2 {
        background: $pending-color;
        color: #fff;
    }
    .status-3 {
        background: $info-color;
        color: #fff;
    }
}

.cashback_status {
    .status-0 {
        background: $danger-color;
        color: #fff;
    }
    .status-1 {
        background: $success-color;
        color: #fff;
    }
}

.commission_status {
    .status-0 {
        background: $danger-color;
        color: #fff;
    }
    .status-1 {
        background: $success-color;
        color: #fff;
    }
}

.refer_status {
    .status-0 {
        background: $danger-color;
        color: #fff;
    }
    .status-1 {
        background: $success-color;
        color: #fff;
    }
}

.webservice_status {
    .status-0 {
        background: $danger-color;
        color: #fff;
    }
    .status-1 {
        background: $success-color;
        color: #fff;
    }
}

.order_status {
    .status-0 {
        background: $pending-color;
        color: #fff;
    }
    .status-1 {
        background: $success-color;
        color: #fff;
    }
    .status-2 {
        background: $danger-color;
        color: #fff;
    }
}

.transaction_status {
    .status-0 {
        background: $pending-color;
        color: #fff;
    }
    .status-1 {
        background: $success-color;
        color: #fff;
    }
    .status-2 {
        background: $danger-color;
        color: #fff;
    }
}

.source_type {
    .status-1 {
        background: $success-color;
        color: #fff;
    }
    .status-2 {
        background: $info-color;
        color: #fff;
    }
    .status-3 {
        background: $pending-color;
        color: #fff;
    }
    .status-4 {
        background: $danger-color;
        color: #fff;
    }
    .status-5 {
        background: $cancel-color;
        color: #fff;
    }
    .status-6 {
        background: color("orange", "darken-2");
        color: #fff;
    }
}

.user_status {
    .status-0 {
        background: $danger-color;
        color: #fff;
    }
    .status-1 {
        background: $success-color;
        color: #fff;
    }
}