<div class="innerpage">
  <div class="bread">
    <h1 class="title">شرایط استفاده و قوانین کشینه</h1>
  </div>
  <div class="container">
    <div class="terms">
      <h2> برنامه کش بک کشینه:</h2>
      <p>وبسایت کشینه برنامه ای ارایه می دهد که به کاربرانش اجازه می دهد تا بر روی خرید های اینترنتی که از بیش از صدها فروشگاه
        های اینترنتی انجام می دهند کشینه (پاداش) دریافت کنند.</p>
      <p>عضویت در کشینه و استفاده از آن رایگان و ساده می باشد تنها نیازمند ایمیل ادرس شما و یک پسورد می باشد. کشینه اطلاعات
        شما را با کسی به اشتراک نمی گذارد و آنها را به هیچ ارگان یا سازمانی نمی فروشد. کشینه هیچ گونه ایمیل اسپمی ارسال نمی
        کند و کاربران در هر زمان می توانند به راحتی Unsubscribe کنند.</p>
      <p>کار کردن با کشینه نیاز به نصب کردن هیچ نرم افزاری ندارد و هیچ نرم افزاری را بر روی سیستم شما نصب نمی کند. به عبارت
        دیگر هیچ جایی برای فریب وجود ندارد. کشینه کارمزد معرفی خریداران به فروشندگان را دریافت می کند و با استفاده از این
        کارمزد به کاربرانش کشینه می دهد. </p>
      <p>خواهشمندیم که شرایط استفاده کاربران را با دقت مطالعه کرده تا با نحوه برنامه پاداش کشینه بیشتر آشنا شوید. در صورت داشت
        هرگونه شک و ابهامی لطفا از طریق قسمت
        <a ui-sref="contact-us">تماس با ما</a>
        وبسایت
        <a ui-sref="home">WWW.CASHINEH.COM</a>
        با تیم کشینه تماس حاصل کنید. ما بر این باوریم که تیم کشینه بهترین و هوشمندانه ترین خرید آنلاین راپیشنهاد می دهد.
      </p>
      <hr>
      <h2>عضویت در کشینه:</h2>
      <p>با عضویت در کشینه شما متعهد به این قرارداد خواهید بود. ثبت نام بسیار ساده است. شما باید با ایمیل ادرس خود ثبت نام کنید
        تا کشینه بتواند شما را از کشینه دریافتی روی خریدهایتان یا دیگر برنامه های شگفت انگیز کشینه مطلع کند.
      </p>
      <p>کاربران می بایست حداقل ۱۵ سال سن داشته باشند و از برنامه کشینه برای فعالیت های غیر قانونی استفاده نکنند.</p>
      <p>برنامه کشینه برطبق خواست و اراده تیم کشینه انجام می شود و کشینه هیچ تعهدی در ادامه و تضمین فعالیت های خود ندارد. تیم
        کشینه این حق را برای خود قایل است که برنامه کشینه را هر زمان و به هر صورت بدون اطلاع قبلی تغییر بدهد.</p>
      <hr>
      <h2>هدایا:</h2>
      <p>کشینه برای تشویق و ترغیب کاربران به خرید اینترنتی، هدایایی را به مناسب های مختلف در اختیار کاربرانش می گذارد. این هدایا شامل ووچر و یا کد تخفیف فروشگاه های برتر، پیشنهادهای گوناگون برای مناسبت های گوناگون از جمله تواد شما می باشد. تمامی این هدایا رایگان بوده و کاربر نیاز به پرداخت هیچ هزینه ای برای دریافت آنها ندارد. برای مشاهده هدایای خود به  قسمت هدایا در پروفایل خود رجوع کنید. هر زمان که کاربر هدیه ای دریافت می کند، در قمست اعلان ها از وجود هدیه جدید مطلع می شود. در حال حاضر هدایای کشینه شامل موارد زیر می باشد:</p>
      <p>کد تخیف فروشگاه اینترنتی بامیلو:</p>
      <p>کد تخفیف ۲۰ هزار تومانی فروشگاه بامیلو که بر روی خریدهای بالای ۱۰۰ هزار تومان معتبر می باشد.</p>
      <p><strong>نحوه دریافت :</strong> برای دریافت کد تخفیف بامیلو کافیست تنها اولین خرید خود را به واسطه کشینه انجام دهید.</p>      
      <p><strong>شرایط:</strong> هر کاربر تنها یک بار مجاز به دریافت کد تخفیف بامیلو می باشد.</p>            
      <hr>
      <h2> به دست آوردن کشینه:</h2>
      <p>به دست آوردن کشینه بر روی خریدهای اینترنتی شما بسیار راحت و ساده است. یک فروشگاه یا یک محصول یا یک کوپن را بر روی
        سایت کشینه انتخاب کنید و بر روی لینک همراه آن کلیک کنید تا به صفحه اصلی فروشگاه مورد نظر هدایت شوید، سپس خرید خود
        را کامل کنید تا کشینه خود را به صورت درصدی از مقدار خریدتان دریافت کنید. مقدار هر کشینه مختص هر فروشگاه بوده و مقدار
        آن برای هرفروشگاه متفاوت می باشد. بنا به توضیحات ارایه شده در صفحه هر فروشگاه ممکن است که کشینه برای اجناس مختلف
        یک فروشگاه متفاوت باشد. لازم به ذکر است که مقدار مد نظر سایت کشینه مقدار اصلی سرویس یا جنس می باشد وموارد زیر شامل
        کشینه نمی شوند: مالیات، هزینه های جانبی، هزینه های ارسال، هزینه های بسته بندی، تخفیف تعلق گرفته، هزینه خدمات پس از
        فروش، هزینه پس دادن و کنسل کردن.</p>
      <p>بعضی از فروشگاه ها ممکن است که محصولات و سرویس های خاصی را شامل برنامه کشینه نکنند. کشینه سعی در کاهش و به روز نگه
        داشتن موارد استثنا می کند. علاوه بر این برای کسب کشینه شما می بایست بعد از کلیک بر روی لینک فروشگاه خرید خود را در
        مدت زمان تعیین شده کامل کنید. اگر شما قبل تکمیل خرید خود ( چک اوت کردن) از وبسایت دیگری بازدید کنید یا از کوپن هایی
        که در وبسایت کشینه استفاده نشده است استفاده کنید، این امکان وجود خواهد داشت که خرید شما از حیطه کشینه خارج شده و
        غیر قابل پیگیری بشود و شما قادر به دریافت کشینه مورد نظر نباشید.</p>
      <p>اگر شما کوکیز های سیستم عامل تان را غیر فعال کنید شما قابلیت دریافت کشینه را از دست خواهید داد، چرا که کوکیز ها جهت
        اثبات درستی کاربران و خرید آنها استفاده خواهد شد و کشینه قادر به تخصیص کشینه مورد نظر به کاربر مورد نظر نخواهد بود.</p>
      <hr>

      <h2>به دست آوردن بونس اضافی و دیگر جوایز:</h2>
      <p>کشینه زمان به زمان ممکن است که بونس یا دیگر جوایزی را برای معرفی دوستان و آشنایانتان به کشینه به شما اهدا کند. شرایط
        استفاده ی اعضاء که در قسمت ارایه برنامه ریفرال (معرفی دوستان وآشنایان) می باشد جزییات استفاده از آن را معین کرده است
        و بر متن این قرارداد اولویت دارد. این شرایط استفاده در مورد نحوه ی کسب این بونس ها و نحوه ی پرداخت و دیگر جزییات
        آنها توضیحاتی می دهد. جهت مجاز بودن برای استفاده از برنامه ریفرال کشینه، عضو معرفی کننده باید توسط وبسایت تایید شده
        باشد و عضو غیر فعال نباشد. جزییات تایید اعضا در ادامه توضیح داده شده است. هر عضوی که مبلغ حساب کشینه اش به ۳۰ هزار
        تومان رسیده باشد ( ازابتدای عضویت) به طور اتوماتیک از طرف وبسایت به عنوان عضو تایید شده معرفی می شود و می تواند از
        برنامه ریفرال کشینه استفاده کند.</p>
      <hr>
      <h2>برنامه ریفرال سایت کشینه:</h2>
      <p> زمانی که شما یک کاربر جدید را معرفی می کنید و کاربر جدید از طریق لینک عضویت شما عضو وبسایت می شود، شما ۸ هزار تومان
        به عنوان کشینه دریافت خواهید کرد تنها در صورتی که:
        <ol>
          <li>شما یک عضو تایید شده توسط وبسایت باشید.</li>
          <li>ثبت نام تنها از طریق لینک ریفرال شما انجام شده باشد.</li>
          <li>عضو جدید حداقل یک خرید موفق به واسطه کشینه انجام داده باشد.</li>
        </ol>
        عضو جدید زمانی که به ۳۰ هزار تومان (حداقل کشینه) در حساب کشینه خود رسید به عنوان عضو تایید شده از طرف وبسایت شناخته می شود
        و مجاز به انتقال کشینه به حساب بانکی خود خواهد بود.</p>
      <p>برای اطلاع از مقدار کشینه دریافتی که شما با معرفی دوستان و آشنایانتان دریافت خواهید کرد به جدول ریفرال مراجع کنید.
      </p>
      <hr>
      <h2>برنامه بونس عضویت کشینه:</h2>
      <p>هر عضو جدید در وبسایت ( چه ریفرال و چه غیر ریفرال) به محض عضویت در وبسایت و شروع به خرید اینترنتی از طریق کشینه ۶ هزار
        تومان کشینه دریافت خواهد کرد. ولی فقط زمانی قادر به انتقال پول به حساب بانکی خود خواهند بود که عضو تایید شده از
        طریق وبسایت شده باشد. جهت تایید عضویت شما نیاز به رسیدن به ۳۰ هزار تومان موجودی کشینه در حساب کشینه تان هستید (از
        ابتدای عضویت).
      </p>
      <p>لطفا در نظر داشته باشید که برنامه ریفرال و بونس عضویت کشینه در جهت جذب اعضا جدید و معرفی کشینه می باشد.</p>
      <p>هر عضو حقیقی یا حقوقی مجاز به دریافت یک بونس عضویت می باشد همچنین برای هر عضو جدیدی که از طریق او عضو وبسایت بشود تنها
        یک ریفرال بونس دریافت می کند. در صورت ابهام لطفا به چارت ریفرال و عضویت مراجعه کنید.</p>
      <hr>

      <h2>دریافت کشینه:</h2>
      <p>برای دریافت کشینه موجود در حساب کشینه شما نیاز به داشت حساب فعال با کشینه همراه با اطلاعات لازم برای دریافت کشینه در
        حساب بانکی تان هستید.موارد مورد نیاز به شرح زیر است:
        <ul>
          <li> یک ایمیل ادرس معتبر (تصدیق شده) که بتوانید ایمیل بفرستید و دریافت کنید.</li>
          <li>آدرس پستی صحیح و به روز شده</li>
          <li> اسم و فامیلی شما منطبق با کارت ملی</li>
          <li>شماره حساب بانکی</li>
          <li>یک پسورد جهت محافظت ازحساب کشینه شما</li>
        </ul>
        جهت فعال ماندن در وبسایت شما می بایست اطلاعات خود را در صورت تغییر به روز کنید.</p>
      <hr>
      <h2>سیستم پرداخت:</h2>
      <p>سیستم پرداخت به این صورت است که شما هر زمان که موجودی حساب کشینه شما به بالای ۳۰ هزار تومان رسید می توانید درخواست
        انتقال پول از حساب کشینه شما به حساب بانکی تان را بکنید. اگر کارت هدیه به عنوان متود پرداخت موجود باشد شما معمولا
        مقدار بالاتری از مقداری که در حساب کشینه شما موجود می باشد به عنوان کارت هدیه دریافت خواهید کرد. کاربران می توانند
        متود پرداخت را در قسمت کشینه من وبسایت تغییر بدهند.</p>
      <p>اگر شما در حساب کشینه موجودی داشته باشید و در زمان انتقال کشینه به حساب بانکی تان عضو غیر فعال باشید، کشینه این حق
        را برای خود قائل است که حساب کشینه شما را به عنوان هزینه نگه داری حساب تصاحب کند.</p>
      <p>لطفا به خاطر داشته باشید که کشینه از بعضی از فروشگاه های اینترنتی ممکن است با تاخیر مواجه شود که شما ملزم به پیگیری آن
        و مطلع کردن تیم کشینه هستید. تیم کشینه تمام تلاش خود را خواهد کرد که موضوع کشینه معوقه را در اسرع وقت با فروشگاه
        مربوطه حل و فصل کند و شما را در جریان این پروسه بگذارد. همچینین تیم کشینه لیستی از فروشگاه هایی که پروسه دریافت کشینه
        آنها ممکن است کمی بیشتر طول بکشید تهیه می کند و در اختیار کاربران عزیز می گذارد. کشینه این حق را برای خود قایل است
        که پروسه پرداخت کشینه را در صورتی که فروشگاه مورد نظر در زمان مشخص شده جوابگو نبود به تاخیر بیاندازد. همچنین چنانچه
        قوانین و روند فروشگاه مورد نظر تغییری کرد که باعث تاخییر در محاسبه و گزارش کردن کشینه یک کاربر به وبسایت کشینه شد،
        کشینه مسولیتی در قبال تاخیر به وجود آمده نخواهد داشت. چنانچه هر یک از فروشگاه های طرف قرارداد به عهد و قرارداد خود
        پایبند نبودند، کشینه مسوولیتی در قبال پرداخت کشینه به کاربران نخواهد داشت. طبیعی است تیم قضایی کشینه این موضوع را
        پیگیری خواهند کرد و در صورت فصل قرارداد لینک آن فروشگان از سایت کشینه حذف خواهد شد.</p>
      <hr>

      <h2>به روز کردن و نگاهداری حساب کشینه:</h2>
      <p>شما باید به حساب کشینه تان وارد شوید و پسورد خود را وارد کنید تا اطلاعات حسابتان را تغییر بدهید و اطلاعات نحوه پرداخت
        دلبخواهتان را به ثبت برسانید. شما می توانید وضعیت حسابتان و آخرین وضعیت کشینه های دریافتی را در هر لحظه و هر جا از
        طریق وبسایت کشینه چک کنید.</p>
      <p>از جهت امنیتی توصیه می شود که شما پسورد حساب کشینه تان را حفظ کنید و از نوشتن آن در جایی خودداری کنید. شما وظیفه نگاهداری
        از پسورد و دیگر اطلاعات حسابتان را دارید. کشینه موظف به اجرای دستورات هر سیستمی است که پسورد اکانت شما را صحیص وارد
        دیتابیس کشینه کرده است. طبیعی است چنانچه کسی به اطلاعات شما دسترسی پیدا کند و درخواست انتقال پول یاجابجایی کشینه
        را داشته باشد، تیم کشینه مسوولیتی در این قبال قبول نمی کند.</p>
      <hr>

      <h2>دریافت مجله خبری و ارتباط با کشینه:</h2>
      <p>شما با ثبت نام در کشینه قبول کرده اید که ایمیل ، تلفن مربوط به حساب و عضویت کشینه شما می باشد از تیم کشینه دریافت کنید(
        به طور مثال کشینه مربوط به آخرین خرید شما از فروشگاه ... در تاریخ ... به حساب کشینه شما اضافه شد یا درخواست انتقال
        کشینه شما با موفقیت انجام شد و شما ظرف ۴۸ ساعت کشینه منتقل شده را در حساب بانکی تان دریافت کنید). علاوه بر ان بسته
        به زمان شما ایمیل های شگفت انگیز کشینه را ممکن است دریافت کنید که حاوی آخرین کوپن ها و پیشنهادهای شگفت انگیز موقت
        کشینه که برای اعضا خواهد بود. شما در صورت تمایل این حق را خواهید داشت که از ادامه دریافت ایمیل هایی که ارتباط مستقیمی
        با حساب شخص شما ندارند صرف نظر کنید. شما می توانید به حساب کشینه تان بروید و بر روی Unsubscribe کلیک کنید و یا در
        پایین ایمیل های ارسالی گزینه Unsubscribe را انتخاب کیند. چرا که کشینه نیازمند ارتباط با شما در زمینه های مربوط به
        حساب کشینه شما می باشد تا بتواند سیستم در خور رضایت کاربران کشینه ارایه دهد شما نمی توانید از ایمیل های مرتبط با
        حساب کشینه تان Unsubscribe کنید. اما این اطمینان خاطر را می دهیم که ایمیل های غیر ضروری مرتبط با حساب شما ارسال نخواهیم
        کرد. اگر شما مایل به دریافت هیچ ایمیلی از سایت کشینه نیستید حتی زمانی که کشینه به حسابتان منتقل شده، می توانید با
        تماس با پشتیبانی درخواست بستن حساب کشینه تان را بدهید.</p>
      <hr>

      <h2>حفاظت از اطلاعات شما:</h2>
      <p>کشینه اطلاعات شما را با کسی شیر نمی کند و همچنین آنها را به هیچ کسی نمی فروشد. کشینه نیازمند اسم، فامیل 
        و شماره حساب شما برای ارسال کشینه شما می باشد. هر اطلاعات دیگری که کشینه از شما دریافت کند صرفا جهت بهتر شدن تجربه
        کار کردن با کشینه می باشد. برای مثال جهت کم کردن مطالب یا پیشنهاد های اضافی برای شما و افزایش موضوعات مرتبط با فروشگاه
        های دلخواه شما. این دسته از اطلاعات شامل فروشگاه های دلخواه شما، کوپن های مورد علاقه شما، یا انواع خرید های دلخواه
        شما خواهند بود. همانطور که قبلا اشاره شد کشینه هیچ گاه اطلاعات شما را به شرکتهای واسطه نخواهد فروخت به استثناء موارد
        زیر:
        <ol>
          <li>هنگامی که یکی از اعضای تیم کشینه برای پرداخت کشینه به حساب شما نیاز دارند.</li>
          <li>هنگامی که حکم قضایی مبنی بر دسترسی به حساب شما وجود دارد.</li>
          <li>هنگامی کی همکاران و شریکان کشینه یا تیم های بازرگانی با اطلاعات کلی (غیر شخصی) نیاز دارند مثل تعداد فروش فروشگاهی
            خاص
          </li>
          <li>هنگامی که تیم کشینه سعی در ارتباط با شما دارد.</li>
        </ol>
      </p>
      <hr>

      <h2>استفاده از اپلیکیشن کشینه:</h2>
      <p>همانگونه که قبلا توضیح داده شد کشینه شما را وادار به نصب هیچ نرم افزاری جهت دسترس به برنامه کشینه نخواهد کرد. کاربران
        می توانند از طریق وبسایت کشینه برروی خرید های آنلاین خود کشینه دریافت کنند. تیم کشینه در نظر دارد که چندین اپلیکیشن
        طراحی و روانه بازار بکند که به کاربران اجازه می دهد بدون ورود به سایت کشینه بر روی خرید های خود کشینه دریافت کنند.(به
        طور مثال از طریق گوشی تلفن همراه یا در داخل مغازه یا اکستنشن کروم، ...). اگر شما از اپلیکیشن کشینه استفاده کردید
        قبول کرده اید که از آن فقط برای استفاده شخصی و آن هم برای دسترسی به برنامه کشینه استفاده کنید. از آن برای مهندسی
        معکوس سورس های کدهای کشینه، رمز گشایی، کپی برداری و یا استخراج مطالب بنیادی و ساختار کشینه استفاده نکنید.</p>
      <p>هرگونه استفاده و بهره برداری از امکانات کشینه بدون اجازه رسمی و درج شده بر روی کاغذ تیم مدیریت کشینه پیگیری قضایی به
        دنبال خواهد داشت.</p>
      <hr>

      <h2>حساب اعضا غیر فعال و لغو عضویت آنها:</h2>
      <p>عضویت در کشینه رایگان می باشد به این معنی که شما برای ملحق شدن به کشینه و دریافت کشینه بر روی خریدهای آنلاینتان نیاز
        به پرداخت هیچ هزینه ای نخواهید داشت. اگر حساب کاربری شما برای ۳ ماه پیاپی بدون فعالیت باشد شماعضو غیر فعال محسوب
        می شوید و از مزایای حساب کشینه تان محروم می شوید. برای عضویت مجدد شما باید یک حساب دیگر باز کنید. کشینه این حق را
        برای خود قایل است که در صورت شناخته شدن شما به عنوان عضو غیر فعال حساب کاربری شما را بسته و ملزم به پرداخت مابقی
        موجودی کشینه شما نخواهد بود.</p>
      <hr>

      <h2>محدودیت های برنامه کشینه، صلاحیت ها و نکات مهم:</h2>
      <p>عضویت در کشینه به منزله قبول قرارداد درج شده در سایت کشینه می باشد. عضویت در برنامه محدود به تمامی اشخاص حقیقی و حقوقی
        بالای ۱۵ سال است. اعضا حق سوء استفاده از کد های برنامه یا پردازش داده های وبسایت جهت سوء استفاده مالی از کشینه را
        ندارند. اعضا می بایست دسترسی به اینترنت داشته باشند تا بتوانند با استفاده از ایمیل ادرسشان از مزایا و امکانات وبسایت
        استفاده کنند. هرگونه نقض این قرارداد هرگونه دزدی کلاه برداری استفاده غیر اخلاقی یا تقلب در کسب کشینه و یا دزدی از
        برنامه ریفرال کشینه توسط شما یا هر کسی از سمت شما منجر به سلب امتیاز استفاده از کشینه را خواهد داشت و کشینه حساب
        شما غیر قابل برداشت خواهد بود.</p>
      <p>تشخیص اینکه خرید اینترنتی که از طریق کشینه انجام شده است مجاز به دریافت کشینه می باشد یا خیر تنها و تنها در اختیار تیم
        کشینه می باشد. چنانچه یکی از فروشگاه های طرف قرارداد کشینه دچار خطا شد و یک خرید آنلاین از طریق کشینه را گزارش نکرد
        یا اگر بنا به هر دلیلی تاخیری در پرداخت مبلغ توافق شده داشته باشد ، کشینه این حق را برای خود قائل می باشد که مبلغ
        کشینه متناظر با آن تراکنش مالی را به کل کنسل کند. اگر کشینه بنا به دلیلی به حساب کشینه شما برای سوء استفاده، کلاه
        برداری، تقلب، یا هر دلیل متضاد با متن این قرارداد مشکوک بشود، این حق را برای خود قائل می باشد که انتقال پول از حساب
        کشینه به بانک شما را به تاخیر بیاندازد تا جزییات بیشتر از عملیات مشکوک حساب محرض شود. شما به تیم کشینه این حق را
        می دهید که حساب شما را بررسی کند و تراکنش های مالی شما با فروشگاه هایی که عملیات مشکوکی در آنها اتفاق افتاده را یکایک
        مرور کند. کشینه در قبال پرداخت های فروشگاه های آنلاین هیچ مسوولیتی ندارد و در موارد گم شدن کشینه یا تاخیر فروشگاه
        هر گونه مسئولیتی را از خود سلب می کند. کشینه در قبال انتقال پول به حساب اشتباه مسئولیتی نمی پذیرد در صورتی که اشتباه
        انتقال پول از طرف کاربر باشد مواردی مانند اشتباه وارد کردن شماره حساب یا یکی نبودن اسم کاربر با شماره حساب بانک یا
        اگر هر تاخیری در انتقال پول از طرف بانک اتفاق بیفتد. تیم کشینه ظرف ۴۸ ساعت یا دو روز کاری متعهد می شود که مبلغ کشینه
        را به حساب بانکی شما منتقل کند.
      </p>
      <p>این وظیفه شماست که حساب کشینه تان را به طور مرتب چک کنید تا از صحت و سقم کشینه های دریافتی تان و موجودی حسابتان اطمینان
        حاصل کنید. اگر شما این باور را دارید که کشینه دریافتی شما برای هر کدام از خریدهایتان به طور صحیح حساب نشده است، می
        توانید تا ۹۰ روز بعد خرید با پشتیبانی کشینه تماس حاصل کنید. چنانچه شما با هر تغییر یا کشینه دریافتی تان مخالف بودید
        تنها راه حل چاره شما کنسل کردن عضویتتان در برنامه کشینه خواهد بود. تیم کشینه همواره تمام تلاش خود را برای حل مشکلات
        کاربرانش می کند و در پی رضایت تمام و کمال مشتری بوده، هست و خواهد بود.</p>
      <p>کشینه در قبال تغییراتی از قبیل قطع همکاری فروشگاه های طرف قرارد یا تغییر قرارداد فروشگاه ها با کشینه یا هر تغییری که
        به واسطه آن مقدار کشینه دریافتی شما تغییری بکند مسوول نمی باشد. کشینه برای تغییر یا کنسل کردن هر کدام از کوپن های تخفیف
        یا پیشنهادهای فروشگاه های اینترنتی هیچ مسئولیتی متقبل نمی شود.</p>
      <p>برنامه کشینه و اپلیکیشن کشینه به اعضایش به همان صورت که هست ارائه می شود و هیچ ضمانت و گارانتیی در آنها وجود ندارد.
        کشینه این حق را برای خود قائل است که برنامه دریافت کشینه را در هر زمان و بدون هیچ اطلاع قبلی کنسل کند.
      </p>
      <p>کشینه هرگونه تضمین یا قول و قرار مبنی بر ادامه برنامه کشینه را نقض می کند.</p>
      <p>کشینه هیچ گونه تضمینی یا نظر خاصی بر روی کیفیت و صحت و سقم و یا راستی تبلیغ های یک محصول خاص یا هر یک از سرویس هایی که
        فروشگاه ها ارائه می دهند ندارد. این وظیفه هر کاربر است که از صحت و سقم این پیشنهادها/سرویسها/محصولات
        اطمینان حاصل کند. کشینه هیچ تضمینی نمی کند که دسترسی به سایت کشینه یا استفاده از اپلیکیشن های کشینه بدون وقفه و بدون
        مشکلات فنی خواهد بود. همچنین کشینه هیچ تعهدی را در قبال ضررهای احتمالی ناشی از عدم دسترسی شما به سایت کشینه یا اپلیکیشن
        های کشینه بر خود نمی بیند.</p>
      <p>اعضا کشینه متعهد می شوند که هیچ خطر و تحدیدی را برای دیگر اعضای کشینه، تیم اجرایی کشینه، مدیریت کشینه، تیم پشتیبانی،
        شرکت کارشید پردیس، تیم فروش و تمام دست اندرکاران کشینه ایجاد نکنند، و هیچ توقع و درخواستی از آنها نداشته باشند و
        درصورت بروز مشکل ابتدا از راه صحبت و توافق دو طرفه سعی در حل مشکل احتمالی داشته باشند. طبیعی است در صورت ادعای خسارت
        بر علیه تیم کشینه و دادن رای دادگاه به نفع کشینه، کشینه این حق را برای خود قائل می داند که بر علیه فرد شاکی شکایت
        کرده و جبران منافات کند.</p>
      <p>تیم کشینه ممکن است در هر زمان نسبت به تغییر مفاد این قرارداد بدون اطلاع قبلی اقدام کنند، مشارکت پیوسته شما در برنامه
        کشینه بعد تغییرات به وجود آمده مطلوب است. لذا از تمامی کاربران انتظار می رود که متن قرارداد را به صورت دوره ای مرور
        کنند تا از بروز هر مشکل احتمالی کاسته شود. چنانچه با هر قسمت از قرارداد کشینه موافق نیستید مقتضی است در اولین زمان
        ممکن از برنامه کشینه انصراف داده و حساب کاربری کشینه خود را ببندید.</p>
      <p>این قرارداد بر طبق قوانین حاکم بر جمهوری اسلامی ایران تهیه شده است و هیچ تضادی با هیچ یک از هیچ یک از قوانین دستگاه
        قضایی جمهوری اسلامی ایران ندارد. طبیعی است که این قرارداد در صورت بروز هر مشکلی توسط دستگاه قضایی ایران اجرا می شود
        و پیگیری های لازم انجام خواهد شد. بر طبق این قرارداد استفاده از سرویس های کشینه منوط به قبولی ۱۰۰% این قرارداد است.</p>
      <p>اگر هر قسمتی از این قرارداد ناقص به نظر رسید یا مشکلی پیش آمد که در این قرارداد ذکر نشده بود ، تمامی دیگر مفاد این
        قرارداد به قوت خود باقی خواهند ماند. همچنین تیم کشینه تمام سعی خود را برای حل و مشکل به وجود آمده و تصحیح قرارداد
        خواهد کرد. کوتاهی کشینه در کامل نگه داشتن این قرارداد در تمامی زمینه ها به منزله سندی بر اجرا نشدن بخشی از این قرارداد
        نخواهد بود. این قرارداد شامل تمامی مفاد پیش بینی شده می باشد و عضویت در کشینه به منزله قبول این قرارداد می باشد.</p>
    </div>
  </div>
</div>