.container-2 .app-title {
    white-space: nowrap;
    padding: 0px 0 20px;
    text-align: center;
    .title-2 {
        font-size: 30px;
        line-height: 1.2;
        color: #333333;
        white-space: normal;
        vertical-align: middle;
        font-weight: bold;
        margin: 0px;
        display: inline-block;
        position: relative;
        padding: 0px 27px;
        &:before {
            content: "";
            border-left: 3px solid $primary-color;
            height: 22px;
            margin: 0;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -11px;
        }
        &:after {
            content: "";
            border-right: 3px solid $primary-color;
            height: 22px;
            margin: 0;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -11px;
        }
    }
}