<div class="innerpage">
  <div class="bread">
    <h1 class="title">درباره کشینه</h1>
  </div>
  <div class="container">
    <div class="about-text">
      <h2> آشنایی </h2>
      <p class="flow-text">کشینه نام برند استارت آپ جدیدی است که مدل جدیدی از خرید اینترنتی با استفاده از Cashback (کش بک) را برای اولین بار در
        ایران ارائه میدهد. در واقع کشینه یک مجموعه Affiliate Marketing (افیلیت مارکتینگ) است که امکان خرید اینترنتی با هزینه
        کمتر را برای کاربران فراهم کرده است و از طرفی افزایش فروش را برای فروشگاه های اینترنتی ایجاد میکند.
        <br> فارغ از تشریفات، عناوین شغلی و مراتب سازمانی، کشینه متشکل از متخصصان و کارشناسان حوزه تجارت الکترونیک، مدیریت مجرب
        و تیم IT زبره است. کشینه با تمرکز بر روی وب سایتهای ارایه کننده خدمات و محصولات به صورت روزانه فرایند انتخاب را برای
        کاربران آسان می‌کند و هم با استفاده از فراهم کردن پایین ترین قیمتها ، کاربر را تشویق به خرید بیشتر ومقرون به صرفه
        تر مینماید.</p>
      <h2>اهداف و آرمانهای کشینه</h2>
      <p class="flow-text">هدف ما در کشینه ارائه بهترین خدمات به مشتریان است تا امکان بهترین خریدها را از بهترین‌ها فروشگاه ها برای مشتریان فراهم
        کنیم.به عبارت دیگر هدف ما مشتری محوری است و تیم کشینه تمام تلاش خود را میکند تا بهترین پیشنهادات را به مشتریان خود
        ارائه دهد .از مهمترین آرمانهای کشینه بالا بردن فروش فروشگاه های عضو کشینه و کمک به مشتریان کشینه برای بهترین و به
        صرفه ترین خرید آنلاین میباشد.</p>
      <h2> مشتری مداری </h2>
      <p class="flow-text">از ابتدا در کشینه هدف ما این بوده که بتوانیم مشتریان خود را راضی نگه داشته، سرویس و خدماتی بهتر به آنها ارائه کنیم.
        هر روز تیم کشینه به دنبال بهتر کردن راه‌کارهای خود در حوزه کسب و کار اینترنتی است تا همواره کیفیت خدمات نوین خود
        را ارتقا داده و باعث رضایت بیشتر مشتریان خود شود. کشینه به عنوان مکمل خرید اینترنتی شما نهایت سعی خود را می کند تا
        یک تجربه دلپذیر از خرید اینترنتی برای شما فراهم کند.
      </p>
      <h2>انتخاب همکاران تجاری</h2>
      <p class="flow-text">برای کشینه مهم است با چه کسانی همکاری میکند و آیا این همکاران همراه خوبی برای مشتریان ما خواهند بود یا خیر. تیم بازاریابی
        و فروش کشینه در زمان عقد قرارداد همکاری، تمامی موارد را به‌صورت ریز و دقیق بررسی کرده تا از بهترین پیشنهادهایی که
        به مشتریان ارائه خواهد شد اطمینان حاصل کنند. همچنین تیم بازاریابی کشینه همواره به دنبال مذاکره با فروشگاه ها برای
        بهینه کردن قیمتهای اجناس برای مشتریان خود است تا آنها بهترین خرید را با نازلترین قیمت انجام دهند. همچنین کشینه با
        فراهم کردن به روز ترین کوپن ها اطمینان حاصل می کند قیمت که شما برای محصولات پرداخت می کنید پایین ترین قیمت ممکن باشد.
      </p>
      <h2>شعارکشینه : بهینه ترین خرید آنلاین</h2>
      <p class="flow-text">در کشینه ما مصمم به کمک کردن برای خرید هرچه هوشمندانه تر و ارزانتر شما هستیم. ما به شما وعده بهترین کوپن های تخفیف،
        بهترین درصد کشینه و سرویس بی نظیر به کاربران خود می دهیم. عضویت در کشینه رایگان می باشد و ما امیدواریم شما به عنوان
        مکمل خرید اینترنتی تمام خریدهایتان را از طریق کشینه انجام دهید.</p>
    </div>
    <reportage></reportage>
  </div>
</div>